/* iPhone*/
@media (max-width: 767px) {
        h1 {
            font-size: 28px;
            margin-top: 30px;
        }
        h2 {
            font-size: 14px;
            margin-top: 3px;
        }
        h3 {
            font-size: 11px;
            margin-top: 30px;
        }
        p {
            font-size: 11px;
        }
        #ButtonMore {
            font-size: 11px;
        }
        #TestoNascosto {
            font-size: 11px;
            margin-top: 11px;
}

/* Cambia il layout a colonna su schermi più piccoli */
section#section1 {
         width: 100%;
         float: none;
}

/* Contenitore flessibile */
div.main-content {
    display: flex;
    flex-direction: column;
    /* I figli saranno posizionati in colonna */
    align-items: center;
    /* Allinea i figli al centro orizzontalmente */
    text-align: center;
    /* Allinea il testo al centro */
}

/* IMG */
div.item,
img,
section#section1 {
    width: 100%;
    /* Larghezza al 100% per essere responsive */
}

div.item img {
    height: auto;
    /* Altezza automatica per mantenere le proporzioni originali */
    object-fit: cover;
}

#social-icons a {
    font-size: 0.8em;
}

/* Allineamento */
div.container {
    margin-top: 0px;
    /* Ridotto il margine top per uno spaziamento più compatto */
    margin-left: 110px;
    margin-right: 110px;
}

    }